[package]
name = "netstatus"
version = "0.1.1"
authors = ["Berrysoft <Strawberry_Str@hotmail.com>"]
edition = "2021"
license = "MIT"

[dependencies]
cfg-if = "1.0"

[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.47", features = [
    "Networking_Connectivity",
] }

[target.'cfg(target_os = "macos")'.dependencies]
libc = "0.2"
objc = "0.2"

[target.'cfg(target_os = "linux")'.dependencies]
netlink_wi = "0.3"
