trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - .github/
      - assets/
      - README.md

jobs:
- job: Build_Windows
  strategy:
    matrix:
      x64:
        target: 'x86_64-pc-windows-msvc'
        fargs: ''
        publishName: 'tunet.win.x86_64'
        wixArch: x64
        vcArch: x64
      x86:
        target: 'i686-pc-windows-msvc'
        fargs: ''
        publishName: 'tunet.win.i686'
        wixArch: x86
        vcArch: Win32
      arm64:
        target: 'aarch64-pc-windows-msvc'
        fargs: ''
        publishName: 'tunet.win.aarch64'
        wixArch: arm64
        vcArch: ARM64
      x64-winui:
        target: 'x86_64-pc-windows-msvc'
        fargs: '--no-default-features --features winui'
        publishName: 'tunet.winui3.x86_64'
        wixArch: x64
        vcArch: x64
      x86-winui:
        target: 'i686-pc-windows-msvc'
        fargs: '--no-default-features --features winui'
        publishName: 'tunet.winui3.i686'
        wixArch: x86
        vcArch: Win32
      arm64-winui:
        target: 'aarch64-pc-windows-msvc'
        fargs: '--no-default-features --features winui'
        publishName: 'tunet.winui3.aarch64'
        wixArch: arm64
        vcArch: ARM64
  pool:
    vmImage: windows-latest
  
  steps:
  - pwsh: |
      Invoke-WebRequest -Uri "https://globalcdn.nuget.org/packages/vc-ltl.5.2.1.nupkg?packageVersion=5.2.1" -OutFile "vc-ltl.nupkg"
      Expand-Archive vc-ltl.nupkg -DestinationPath vc-ltl
    displayName: "Download VC-LTL"

  - script: |
      rustup target add $(target)
      cargo build --release --workspace --exclude native --target $(target) $(fargs)
    displayName: "Build"
    env:
      RUSTFLAGS: -L vc-ltl/build/native/TargetPlatform/10.0.19041.0/lib/$(vcArch)

  - pwsh: |
      cd target/$(target)/release
      cp tunet.exe $(Build.BinariesDirectory)/
      cp tunet-gui.exe $(Build.BinariesDirectory)/
      cp tunet-service.exe $(Build.BinariesDirectory)/
    displayName: 'Copy Binaries'

  - pwsh: |
      dotnet tool install --global wix --version 4.0.0
      wix extension add --global WixToolset.UI.wixext/4.0.0
      wix build wix/main.wix -ext WixToolset.UI.wixext -arch $(wixArch) -define target=$(target) -define arch=$(wixArch) -culture zh-cn -o $(Build.ArtifactStagingDirectory)/$(publishName).msi -pdbtype none
    displayName: 'Package MSI'

  - task: PublishBuildArtifacts@1
    inputs:
      ArtifactName: 'publish'

- job: Build_Ubuntu
  strategy:
    matrix:
      jammy-x64:
        image: 'ubuntu-22.04'
        ubuntuDist: 'jammy'
        target: 'x86_64-unknown-linux-gnu'
        arch: 'x86_64'
      noble-x64:
        image: 'ubuntu-24.04'
        ubuntuDist: 'noble'
        target: 'x86_64-unknown-linux-gnu'
        arch: 'x86_64'
  pool:
    vmImage: $(image)
  
  steps:
  - script: |
      sudo apt-get update
      sudo apt-get install qt6-base-dev libcurl4-openssl-dev
    displayName: 'Install qt6'

  - script: cargo install cargo-deb
    displayName: "Install cargo-deb"

  - script: |
      rustup target add $(target)
      ln -s ~/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/bin/rust-lld ~/.cargo/bin/ld.lld
      export RUSTFLAGS="-Clinker-plugin-lto -Clinker=clang -Clink-arg=-flto -Clink-arg=-fuse-ld=$HOME/.cargo/bin/ld.lld"
      export CXX="clang++"
      export CXXFLAGS="-flto"
      cargo build --release --workspace --exclude native --target $(target)
    displayName: "Build"

  - script: |
      cargo deb --target $(target) --no-build -o $(Build.ArtifactStagingDirectory)/tunet.$(ubuntuDist).$(arch).deb -p tunet
    displayName: "Package"

  - task: PublishBuildArtifacts@1
    inputs:
      ArtifactName: 'publish'

- job: Build_Mac
  pool:
    vmImage: 'macOS-14'
  
  steps:
  - script: |
      rustup target add x86_64-apple-darwin
      cargo build --release --workspace --exclude native --target x86_64-apple-darwin --features objc-static
    displayName: "Build x64"

  - script: |
      rustup target add aarch64-apple-darwin
      cargo build --release --workspace --exclude native --target aarch64-apple-darwin --features objc-static
    displayName: "Build arm64"

  - script: |
      macbundle/bundle.sh
      cp target/macbundle/tunet.app.zip $(Build.ArtifactStagingDirectory)/tunet.mac.app.zip
    displayName: "Create bundle"

  - task: PublishBuildArtifacts@1
    inputs:
      ArtifactName: 'publish'

- job: Build_Android
  pool:
    vmImage: 'ubuntu-22.04'
  variables:
  - group: 'Android sign'
  
  steps:
  - script: |
      rustup target add x86_64-linux-android
      rustup target add armv7-linux-androideabi
      rustup target add aarch64-linux-android
      cargo install cargo-ndk
    displayName: 'Install cargo-ndk'

  - script: |
      wget https://storage.googleapis.com/flutter_infra_release/releases/stable/linux/flutter_linux_3.35.3-stable.tar.xz
      mkdir -p ~/development/
      tar -xvf flutter_linux_3.35.3-stable.tar.xz -C ~/development/
    displayName: 'Install flutter'

  - task: DownloadSecureFile@1
    name: keystore
    displayName: 'Download keystore'
    inputs:
      secureFile: 'keystore.jks'
  
  - script: |
      cd tunet-flutter
      cat > android/key.properties << EOL
      storePassword=$(store-password)
      keyPassword=$(key-password)
      keyAlias=$(key-alias)
      storeFile=$(keystore.secureFilePath)
      EOL
      export JAVA_HOME=$(JAVA_HOME_17_X64)
      export PATH="$HOME/development/flutter/bin:$PATH"
      make apk
      cp build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk $(Build.ArtifactStagingDirectory)/tunet.armeabi-v7a.apk
      cp build/app/outputs/flutter-apk/app-arm64-v8a-release.apk $(Build.ArtifactStagingDirectory)/tunet.arm64-v8a.apk
      cp build/app/outputs/flutter-apk/app-x86_64-release.apk $(Build.ArtifactStagingDirectory)/tunet.x86_64.apk
    displayName: 'Build APK'

  - task: PublishBuildArtifacts@1
    inputs:
      ArtifactName: 'publish'

- job: Build_iOS
  pool:
    vmImage: 'macOS-14'

  steps:
  - script: |
      brew install flutter
    displayName: 'Install flutter'

  - script: |
      rustup target add aarch64-apple-ios aarch64-apple-ios-sim x86_64-apple-ios
      cd tunet-flutter
      flutter build ios --release --no-codesign
      mkdir -p ipa/Payload
      cp -r build/ios/iphoneos/Runner.app ./ipa/Payload
      cd ipa
      zip -r tunet.ios.ipa *
      cp tunet.ios.ipa $(Build.ArtifactStagingDirectory)/
    displayName: 'Build IPA'

  - task: PublishBuildArtifacts@1
    inputs:
      ArtifactName: 'publish'
