[package]
name = "tunet-settings-cli"
version = "0.1.0"
authors = ["Berrysoft <Strawberry_Str@hotmail.com>"]
edition = "2021"
license = "MIT"

[dependencies]
tunet-helper = { path = "../tunet-helper" }
tunet-settings = { path = "../tunet-settings" }
rpassword = "6.0"
